@{
    ViewData["Title"] = "Edit Tour"; <!--Title for the web page-->
}

@{
}
@model AppointmentInfo
@*
*@
<div class="text-center">
    <h1 class="display-4">Edit A Tour</h1>
</div>
<form method="post" class="row gy-2 gx-3 align-items-center col-md-8">

    <label asp-for="GroupName" autofocus>Name of Group:</label><input asp-for="GroupName" /><br />

    <label asp-for="Size">Size of Group (Max of 15):</label><input asp-for="Size" /><br />

    <label asp-for="Email">Email:</label><input asp-for="Email" /><br />

    <label asp-for="Phone">Phone Number:</label><input asp-for="Phone" /><br />

    <label asp-for="AptDate">Appointment Date:</label><input asp-for="AptDate" readonly/><br />

    <label asp-for="AptTime">Appointment Time:</label><input asp-for="AptTime" readonly/><br />

    <input class="btn btn-primary btn-info" type="submit" value="Submit" />


</form>
