@{
}
@model AppointmentInfo
@*
*@
<form method="post">
    <label asp-for="GroupName" autofocus>Name of Group:</label><input asp-for="GroupName" /><br />
    <label asp-for="Size">Size of Group (Max of 15):</label><input asp-for="Size" /><br />
    <label asp-for="Email">Email:</label><input asp-for="Email" /><br />
    <label asp-for="Phone">Phone Number:</label><input asp-for="Phone" /><br />
    <label asp-for="AptDate">Appointment Date:</label><br />
    <label asp-for="AptTime">Appointment Time:</label><br />
    <!--NEED TO UPDATE ONCE FORM VIEW IS CHANGED-->
    <!-- <input type="hidden" asp-for="AptDate" value=*ViewBag.Date />
    <input type="hidden" asp-for-"AptTime" value=*ViewBag.Time-->
    <input class="btn btn-primary" type="submit" value="Submit" />
</form>