@{
    ViewData["Title"] = "Layton Temple Tours";
}
<body>

    <div class="row flex-lg-row-reverse align-items-center g-2 py-2 mb-3">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="~/img/layton-utah-temple-6932-main.jpg" class="d-block mx-lg-auto d-sm-flex" alt="temple" width="350" height="350" loading="lazy">
            <center><button type="button" class="btn btn-info btn-lg">Sign Up</button></center>
        </div>
        <div class="col-lg-6">
            <ol class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">General Tour Instructions</div>
                        - Park on Rosewood (West side of the temple) and meet at the Visitors Center trailer.<br />
                        - Casual Dress, except on Sunday
                    </div>

                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Available Tours</div>
                        <i>- Outdoor Tour</i><br /> We will walk on the sidewalk along Oak Hills and on Rosewood in front of the temple on uneven surfaces; please wear sturdy shoes
                        <br /><i>- Trailer Tour</i><br /> On Sunday. Masks are required
                    </div>

                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Special Accomodations</div>
                        - Spanish-speaking tours are available, by request.<br />
                        (check the appropriate box when signing up for a tour)
                    </div>
                </li>

                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Questions? </div>
                        Call or text 801-628-4488
                    </div>
                </li>
            </ol>        
            </div>
        </div>
    


</body>